@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Usaremos a fonte 'Roboto' */
    color: #ffffff; /* Texto branco */
    background-color: #121212; /* Fundo preto */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('./components/img/backgound.png'); /* Substitua pelo caminho da sua imagem de fundo */
    background-size: cover; /* Garante que a imagem de fundo cubra todo o elemento */
    background-repeat: no-repeat; /* Evita a repetição da imagem de fundo */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: #1DB954; /* Cor verde Spotify para elementos <code> */
}
